<div id="playing-track"></div>
<div class="unselectable" id="playpause">

	<div id="play" class="unselectable middle arrow-right"></div>
	<div id="pause" class="unselectable">
		<div class="unselectable line line-1"></div>
		<div class="unselectable line line-2"></div>
		<div class="floatfix"></div>
	</div>

</div>

<div id="prev">Previous</div>
<div id="next">Next</div>

<div id="floatfix"></div>

<div id="message"></div>
<div id="top"></div>



<style>


</style>