body {
	background: #e6e6e6;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#play{
	width: 160px;
	height: 160px;
	background: #262626;
	border-radius: 200px;
	border: 4px solid #81b71a;
	display: block;
	margin: 40px auto;

}
#prev{

	float: left;
	margin-left: 20px;
}
#next{
	float: right;
	margin-right: 20px;
	
}
#next, #prev{
	color: #262626;
	background: #81b71a;
	padding: 20px 10px;
	font-size: 20px;
	width: 100px;
	text-align: center;
	border-radius: 10px;
}
#playing-track{
	text-align: center;
}

.middle{
	margin-left: 60px;
	margin-top: 50px;
}
.arrow-right {
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	
	border-left: 60px solid #81b71a;
}

.white{
	background: #fff !important;
}


.unselectable{
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}